<div style="width: 50%; left: 100%; transform: translate(-100% ,0); position: relative;">
    <h1>Отзывы к товару "<?php echo $block->getCurrentProductTitle(); ?>"</h1>
    <div style="border: 2px solid blue; padding: 10px;">
        <?php
            foreach ($block->getProductReviews() as $productReview){
                echo '<div style="padding: 10px; border: 1px solid black; margin: 10px 0;">
                            <p><b>ID: '.$productReview->getId().'</b></p>
                            <p>Category ID: '.$productReview->getCategoryId().', Product ID: '.$productReview->getProductId().'</p>
                            <p>User Name: <b>'.$productReview->getName().'</b>, User Email: <b>'.$productReview->getEmail().'</b></p>
                            <hr>
                            <p>Review: <i>'.$productReview->getTextReview().'</i></p>
                            <hr>
                            <p><sup>'.$productReview->getCreationTime().'</sup></p>
                      </div>';
            }
        ?>
    </div>
</div>


