<?php /** @var $block Learning\Sales\Block\SalesBlock */ ?>

<?php if($block->getAvailableDiscount()):?>
    <p>Check available discount: <span style="background: green; color: white; padding: 1px 5px;">Discount is available</span></p>
    <p>
        С <?=str_replace(',', ':', $block->getDiscountFromTime());?> до <?=str_replace(',', ':', $block->getDiscountToTime());?>
        для "<?=$block->getCustomerGroupName();?>" скидка <?=$block->getDiscountPercent();?>%
    </p>
<?php else: ?>
<p>Check available discount: <span style="background: red; padding: 1px 5px;">Discount is NOT available</span></p>
<?php endif; ?>
