<div>
    <h2>Reviews for category: <b><?php echo $block->setSearcingCategory() ?></b>. Searching date: <b><?php echo $block->setSearchingDate(); ?></b></h2>

    <?php if(count($block->getFilter()) == 0) { ?>
        <h1>Emplty Reviews Collection</h1>
    <?php } else {
        foreach($block->getFilter() as $item){ ?>
    <div style="margin: 10px 0; border: 2px solid black; padding: 15px; display: flex; flex-direction: row; justify-content: space-around; align-content: center;">
        <div>
            <?php $product = $block->getProductById($item->getData('product_id'))?>
            <p>Product ID: <b><?php echo $product->getId() ?></b>, Name: <b><?php echo $product->getName() ?></b>, SKU: <b><?php echo $product->getSKU() ?></b></p>
            <p>Price: <b><?php echo round($product->getPrice(), 2) ?> $</b></p>
            <img src="<?php echo $block->getProductImageUrl($product) ?>" width="250px" alt="">
        </div>
        <div>
            <p>Review ID: <b><?php echo $item->getData('productdeclarativereview_id'); ?></b></p>
            <p>Category ID: <b><?php echo $item->getData('category_id'); ?></b></p>
            <hr>
            <p>Text Review: <i><?php echo $item->getData('text_review'); ?></i></p>
            <hr>
            <p>User Name: <?php echo $item->getData('name'); ?></p>
            <p>User Email: <?php echo $item->getData('email'); ?></p>
            <p>Created at: <?php echo $item->getData('creation_time'); ?></p>
            <p>Updated at: <?php echo $item->getData('update_time'); ?></p>
        </div>
    </div>
    <?php }}?>
</div>
