<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php /** @var $block \Learning\AirShipment\Pricing\Render\Amount */ ?>

<?php if ($block->checkEnableModule() == 0 or $block->checkDiffWeight() == 0) : ?>
    <span class="price-container <?= $block->escapeHtmlAttr($block->getAdjustmentCssClasses()) ?>"
            <?= $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
        <?php if ($block->getDisplayLabel()) :?>
            <span class="price-label"><?= $block->escapeHtml($block->getDisplayLabel()) ?></span>
        <?php endif; ?>
        <span <?php if ($block->getPriceId()) :?> id="<?= $block->escapeHtmlAttr($block->getPriceId()) ?>"<?php endif;?>
            <?= ($block->getPriceDisplayLabel()) ? 'data-label="' . $block->escapeHtmlAttr($block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes()) . '"' : '' ?>
            data-price-amount="<?= $block->escapeHtmlAttr($block->getDisplayValue()) ?>"
            data-price-type="<?= $block->escapeHtmlAttr($block->getPriceType()) ?>"
            class="price-wrapper <?= $block->escapeHtmlAttr($block->getPriceWrapperCss()) ?>"
        ><?= $block->escapeHtml($block->formatCurrency($block->getDisplayValue(), (bool)$block->getIncludeContainer()), ['span']) ?></span>
        <?php if ($block->hasAdjustmentsHtml()) :?>
            <?= $block->getAdjustmentsHtml() ?>
        <?php endif; ?>
        <?php if ($block->getSchema()) :?>
            <meta itemprop="price" content="<?= $block->escapeHtmlAttr($block->getDisplayValue()) ?>" />
            <meta itemprop="priceCurrency" content="<?= $block->escapeHtmlAttr($block->getDisplayCurrencyCode()) ?>" />
    </span>
<?php endif; ?>
<?php endif; ?>
<?php if ($block->checkEnableModule() != 0 and $block->checkDiffWeight() != 0) : ?>
    <span class="price-container">
        $<?php echo $block->getFinalShipmentPrice(); ?> (+ $<?php echo $block->getShipmentPrice(); ?>)
    </span>
<?php endif; ?>
