<?php /** @var $block Learning\AirShipment\Block\AirShipmentBlock */ ?>
<?php if($block->checkEnableModule() != 0 and $block->checkDiffWeight() != 0) : ?>
<div style="text-align: right;">
    <h2>Air Shipment Type: <?php echo $block->getProduct($block->getProductId())->getData('air_freight'); ?></h2>
    <h3>
        Product weight: <?php echo round($block->getProduct($block->getProductId())->getWeight(), 2); ?> lbs,
        Max free weight: <?php echo $block->getMaxWeight(); ?> lbs,
        Additional price, $/lbs: <?php echo $block->getAdditionalPrice(); ?>.
    </h3>
    <h3>
        Final Price (With Shipment):
        $<?php echo $block->getFinalShipmentPrice(); ?>
        ($<?php echo round($block->getProduct($block->getProductId())->getPrice(),2); ?> +
        $<?php echo $block->getShipmentPrice(); ?>).
    </h3>
</div>
<?php endif; ?>
