<?php
/** @var Shipping\International\Block\Adminhtml\Attributes $block */
$order = $block->getOrder();
?>
<?php if ($order) : ?>
    <section class="admin__page-section order-additional-information">
        <div class="admin__page-section-title">
            <strong class="title"><?php echo /* @escapeNotVerified */ __('Additional Information'); ?></strong>
        </div>
        <div id="<?php echo $block->getHtmlId() ?>"
             class="admin__page-section-content order-additional-information-container">
            <div class="admin__page-section-item order-information">
                <div class="admin__page-section-item-content">
                    <table class="admin__table-secondary order-information-table">
                        <tr>
                            <th>Return Address</th>
                            <td><?php echo $order->getReturnAddress(); ?></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
<?php endif; ?>
