<div>

    <h3>Счетчик</h3>
    <p>Дата окончания акции (special price): <?php echo $block->formatDate($block->getSpecialDate()); ?></p>
    <p>Дата окончания акции (catalog rules):
        <?php
            if (count($block->getCatalogRulesDates()) > 1) {
                echo $block->formatDate(max($block->getCatalogRulesDates()));
            }
        ?>
    </p>
    <p>Осталовсь времени до последней акции:
        <?php
            $currentTime = new DateTime();
            $specialTime = $block->getSpecialDate();
            if (count($block->getCatalogRulesDates()) > 1) {
                $rulesTime = max($block->getCatalogRulesDates());
                if ($specialTime > $rulesTime) {
                    $datetime2 = new DateTime($specialTime);
                } else {
                    $datetime2 = new DateTime($rulesTime);
                }
            } else {
                $datetime2 = new DateTime($specialTime);
            }

            $interval = $currentTime->diff($datetime2);
        ?>
    </p>

    <div id="getting-started"></div>

</div>


<script>
    require([
        'jquery',
        'customScript',
        'countdownScript',
    ], function ($) {
        $(document).ready(function(){
            jQuery.ajax({
                url: "/datecontroller/index/getmaxdate",
                type: "GET",
                data: "pid=<?php echo $block->getCurrentProduct()->getId() ?>",
                success: function(data) {
                    $("#getting-started").countdown(data, function(event) {
                        $(this).text(
                            event.strftime('%D days %H:%M:%S')
                        );
                    });
                }
            });

        });
    });
</script>
