<?php /** @var $block Learning\Sales\Pricing\Render\Amount */ ?>

<?php if(
    $block->checkEnableModule() !=0
    and $block->checkEnableDiscount() !=0
    and $block->customerGroup() !== null
): ?>
    <span class="price-container" style="font-size: 2rem; text-decoration: line-through">$<?php echo round($block->getOldPrice()); ?></span>
    <br>
    <span class="price-container" style="font-size: 2.5rem; color: black;"><b>$<?php echo $block->getNewPrice()?></b></span>
<?php else : ?>
<span class="price-container <?= $block->escapeHtmlAttr($block->getAdjustmentCssClasses()) ?>"
    <?= $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
    <?php if ($block->getDisplayLabel()) :?>
        <span class="price-label"><?= $block->escapeHtml($block->getDisplayLabel()) ?></span>
    <?php endif; ?>
        <span <?php if ($block->getPriceId()) :?> id="<?= $block->escapeHtmlAttr($block->getPriceId()) ?>"<?php endif;?>
            <?= ($block->getPriceDisplayLabel()) ? 'data-label="' . $block->escapeHtmlAttr($block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes()) . '"' : '' ?>
                data-price-amount="<?= $block->escapeHtmlAttr($block->getDisplayValue()) ?>"
                data-price-type="<?= $block->escapeHtmlAttr($block->getPriceType()) ?>"
                class="price-wrapper <?= $block->escapeHtmlAttr($block->getPriceWrapperCss()) ?>"
        ><?= $block->escapeHtml($block->formatCurrency($block->getDisplayValue(), (bool)$block->getIncludeContainer()), ['span']) ?></span>
        <?php if ($block->hasAdjustmentsHtml()) :?>
            <?= $block->getAdjustmentsHtml() ?>
        <?php endif; ?>
        <?php if ($block->getSchema()) :?>
            <meta itemprop="price" content="<?= $block->escapeHtmlAttr($block->getDisplayValue()) ?>" />
            <meta itemprop="priceCurrency" content="<?= $block->escapeHtmlAttr($block->getDisplayCurrencyCode()) ?>" />
</span>
<?php endif; ?>
<?php endif; ?>
